.grupa3Txt {
	
	margin-bottom: 65px;
	text-align: justify;
	line-height: 22px;
	font-family: Lato;
	font-size: 12px;
	font-style: normal;
	font-variant: normal;
	font-weight: 400;
	color: black;
	justify-content: center;
}