
body{
	padding-top: 120px;
}

.wrapper_main {
	padding: 0 20px;
	padding-bottom: 45px;

	max-width: 1000px;
    margin: auto;
}

.pastEvents {
	font-family: Lato;
	font-size: 18px;
	font-variant: normal;
	color: grey;

}



